name: PHP Unit Testing - OpenWeather Hybrid

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  phpunit-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'

    - name: Install dependencies (PHPUnit)
      run: |
        composer install --no-interaction --prefer-dist

    - name: Create .env file
      run: |
        echo "OPENWEATHER_API_KEY=${{ secrets.OPENWEATHER_API_KEY }}" > .env

    - name: Run PHPUnit Tests
      run: vendor/bin/phpunit --configuration phpunit.xml
